body {
    /* background-color: #9dbde470; */
    background: url("../image/clr.jpg");
}

.header {
    text-align: center;
}

.input-data {
    align-content: center;
    text-align: center;
    font-weight: 800;
    width: 60%;
    margin-left: 20%;
    margin-top: 0;
    /* position: relative; */
}

input[type=text],
input[type=number] {
    width: 60%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

.item-details {
    text-align: center;
    margin-top: 5%;
}

table,
th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.btn {
    font-weight: 580;
    margin-left: 7%;
    text-align: center;
    color: black;
    flex: initial;
    padding: 10px 12px;
    text-decoration: none;
    background: #eed3d3;
    margin-bottom: 10px;
    border-radius: 3px;
}

table {
    border-collapse: collapse;
    width: 80%;
}

.total-val-output {
    text-align: center;
    font-weight: 800;
}

.container {
    width: 50%;
    align-content: center;
    text-align: center;
    margin-left: 25%;
    background-color: #c3dee8fa;
    /*save this colour for div*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.click-btn {
    text-decoration: none;
    background: #c1dde7;
    border-radius: 3px;
}